.text-primary {
  color: var(--primary-900);
}

.text-accent {
  color: var(--accent-900);
}

.text-warn {
  color: var(--warn-900);
}

.text-background {
  color: var(--background-background);
}

.text-foreground {
  color: var(--foreground-foreground);
}
