@use '@angular/material' as mat;

@include mat.core();

@import "colors";

$theme: mat.define-light-theme((
 color: (
   primary: $mat-theming-primary,
   accent: $mat-theming-accent,
   warn: $mat-theming-warn,
 )
));

@include mat.all-component-themes($theme);
