@import "core/variables";

:host {
  display: grid;
  height: 100%;

  .card {
    padding: $spacing-8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-100);
    border-radius: $spacing-8;

    &:hover {
      border-color: var(--primary-200);
    }

    .content-wrapper {
      margin-top: $spacing-8;
    }
  }
}
