@import "core/variables";

:host {
  .search {
    padding-top: $spacing-8;
    padding-bottom: $spacing-16;
  }

  .container {
    display: grid;
    gap: $spacing-16;
    grid-template-columns: repeat(auto-fill, minmax(max(13rem, 17%), 1fr));

    .empty {
      display: flex;
      justify-content: center;
      grid-column: 1 / -1;
    }
  }
}
