@import "core/variables";

:host {
  .wrapper {
    &__name {
      margin: 0 auto;
    }

    &__info {
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(min(25rem, 100%), 50%), 1fr)
      );
      grid-auto-rows: max-content;
      max-width: 100%;

      .image-wrapper {
        border: 1px solid var(--foreground-base);

        &__image {
          object-fit: contain;
          min-width: 100%;
          aspect-ratio: 1 / 1;
        }
      }

      .info-wrapper {
        border: 1px solid var(--foreground-base);

        > * {
          flex: 1;
        }
      }
    }
  }
}
