@if(!loading() && currentPokemonKey() === pokemonId() && pokemon() && !error())
{ @if (pokemon(); as pokemon) {
<div class="wrapper">
  <div class="wrapper__header">
    <button
      mat-mini-fab
      aria-label="Previous pokemon"
      (click)="onNextPokemon(-1)"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h1 class="wrapper__header__text">{{ pokemon.name | titlecase }}</h1>
    <button mat-mini-fab aria-label="Next pokemon" (click)="onNextPokemon(1)">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <div class="wrapper__info">
    <div class="image-wrapper">
      <img
        [ngSrc]="pokemon.sprites.front_default ?? ''"
        priority="high"
        width="515"
        height="515"
        class="image-wrapper__image"
      />
    </div>

    <div class="info-wrapper">
      <mat-tab-group [dynamicHeight]="true">
        <mat-tab label="Basic">
          <section class="info-wrapper__content">
            <app-basic-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>

        <mat-tab label="Stats">
          <section class="info-wrapper__content">
            <app-stats-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>

        <mat-tab label="Cries">
          <section class="info-wrapper__content">
            <app-cries-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
} } @else if(!error()) {
<mat-spinner class="center" />
} @else {
<div class="center error">
  <h3>No pokemon with given id exists!</h3>
  <button mat-flat-button color="warn" (click)="goBack()">Go back</button>
</div>
}
