@if(!loading() && pokemon) {
<div class="wrapper">
  <h1 class="wrapper__name">{{ pokemon.name | titlecase }}</h1>
  <div class="wrapper__info">
    <div class="image-wrapper">
      <img
        [src]="pokemon.sprites.front_default ?? ''"
        loading="eager"
        class="image-wrapper__image"
      />
    </div>

    <div class="info-wrapper">
      <mat-tab-group [dynamicHeight]="true">
        <mat-tab label="Basic">
          <section class="info-wrapper__content">
            <app-basic-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>

        <mat-tab label="Stats">
          <section class="info-wrapper__content">
            <app-stats-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>

        <mat-tab label="Cries">
          <section class="info-wrapper__content">
            <app-cries-tab [pokemon]="pokemon" />
          </section>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
} @else { Loading... }
