@import "core/variables";

:host {
  .container {
    .header {
      z-index: 1000;
      position: sticky;
      top: 0;

      a {
        display: flex;
        align-items: center;

        img {
          margin-right: $spacing-8;
        }
      }
    }

    .content {
      max-width: 1080px;
      margin: 0 auto;

      .content-wrapper {
        margin: $spacing-8;
      }
    }
  }
}
