<table class="app-table">
  <tbody>
    <tr>
      <td>Number:</td>
      <td>{{ pokemon().id | pokemonId }}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>
        <div class="chips-container">
          @for(type of pokemon().types; track type.type.name) {
          <mat-chip [ngClass]="'chips-container__chip ' + type.type.name">{{
            type.type.name
          }}</mat-chip>
          }
        </div>
      </td>
    </tr>
    <tr>
      <td>Height:</td>
      <td>{{ pokemon().height * 10 }} m</td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td>{{ pokemon().weight / 10 }} kg</td>
    </tr>
    <tr>
      <td>Abilities</td>
      <td>
        <div>
          @for(ability of pokemon().abilities; track ability.ability.name) {
          <p>{{ ability.ability.name }} @if(ability.is_hidden) { - hidden }</p>
          }
        </div>
      </td>
    </tr>
  </tbody>
</table>
